.forgot-reset-password-container{
    position:absolute;
    width:100%;
    top:75%;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.forgot-reset-password-container h2{
    margin-bottom:1%
}
.forgot{
    width:50%
}
.forgot input{
    width:83%;
    height:40px;
    padding-left: 2%;
}
.forgot button{
    height:40px;
    width:15%;
    cursor:pointer;
    background-color: #007CC7;
}