.cmpCardContainer{
    width:100%;
    margin-top:10%;

}
.twoCard{
    display:flex;
    justify-content: space-around;
}
.cmpCard{
    width:30%;
}
.cmpCard select{
    width:100%;
    margin-bottom:5%;
    height:40px;
    background-color:#2C3E50 ;
    color:white;
    padding-left: 5%;
}
.cmpCardChild{
    width:100%
}
.cmpBtn{
    display:flex;
    justify-content:space-around ;
    width:100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.cmpBtn button{
    width:45%;
    height:40px;
    background-color: #007CC7;
    color:white
}
.better{
    width:100%;
    margin-bottom: 5%;
}
.better h2{
    margin-bottom:3%;
}
.table-card{
    display:flex;
    width:100%;
    justify-content: space-around;
}
.better-card{
    width:30%
}
.comparisonTable{
    width:50%;
    background-color: #152836;
    border-collapse: collapse;
}
.comparisonTable th,
.comparisonTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}