.about{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: #12232E;
    height:700px;
}
.aboutUs{
    display:flex;
    width:90%;
    flex-direction: column;
    position:relative;
    left:5%;
    gap:4%;
    
}
.aboutUs p{
    width:70%
}
.about img{
    height:600px;
    position:relative;
    right:5%;
    top:7%
}
.aboutLine1{
    display:flex;
    gap:20%;
    position:relative;
    top:10%
}
.aboutLine2{
    display:flex;
    gap:20%;
    position:relative;
    top:20%
}
.vehicle{
    width:25%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.line1{
    height: 3px;
    background-color: #004A77;
    width:100%
}
.line2{
    height: 3px;
    background-color: #004A77;
    width:50%;
    margin:1%;
    position:relative;
    right:25%
}