.compareContainer{
    width:80%;
    position:relative;
    left:10%;
}
.compareContainer h2{
    padding-bottom: 2%;
    padding-top:5%
}
.compareChild{
    display:flex;
    justify-content: center;
}
.vs{
    border-radius: 50%;
    background-color:#007CC7 ;
    display:flex;
    height:100px;
    width:100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:40%
}
.compareContainer button{
    background-color: black;
    border:1px solid white;
    color:white;
    width:60%;
    position:relative;
    left:20%;
    height:50px
}