.headerContainer{
    width:80%;
    height:50px;
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    left:10%
}
.headerContainer img{
    cursor:pointer
}
.headerList{
    cursor:pointer;
    color:white;
    text-decoration: none;
}
